.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: skyblue;
  color: rgb(18, 17, 17);
  padding: 10px;
  margin-left: 2px;
  margin-right: 14px;
}

.navbar-center {
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.navbar-brand-text {
  margin-left: 10px;
}
.navbar-menu {
  margin-top: 5px;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.navbar-menu-item {
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}

.navbar-menu-item:last-child {
  margin-right: 0;
}

.navbar-menu-item a {
  color: #000000;
  text-decoration: none;
}

.navbar-menu-item a:hover {
  color: #0c54b9;
}


.navbar-link {
  margin-right: 12px;
  color: #000000;
  text-decoration: none;
  margin-bottom: 0px;
  /* display: inline-block; */
}